.icon-color {
    color: #002f6C !important;
}

.ReactTable .rt-tr:hover {
    background-color: #4EC3E0 !important;
    /* color: #ffffff; */
}

/* Dropdown Styling */
.bootstrap-select .dropdown-toggle {
    /* Default styles for the pickerInput */
    background-color: #002F6C !important;
    color: #ffffff;
}

.bootstrap-select .dropdown-toggle:hover {
    /* Styles to apply when hovering over the pickerInput */
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

/* To style specific elements within the pickerInput, like dropdown items */
.dropdown-item:hover {
    background-color: #4EC3E0 !important;
    /* color: #ffffff; */
}


/* Button Styling */
.btn-default {
    background-color: #002F6C !important;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

body {
    font-family: "Raleway", sans-serif;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* Target dropdown nav links */
.nav-item.dropdown>.nav-link {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    /* keeps caret on right */
    gap: 0.5rem;
}

/* Adjust caret alignment */
.nav-item.dropdown>.nav-link::after {
    position: relative;
    top: 0;
    /* center it vertically */
    margin-left: 0.25rem;
}

div.nopad .value-box-area {
    padding-top: .75rem;
    padding-bottom: .25rem;
    margin-bottom: 0.75rem;
}

div.nopadnomarg .value-box-area {
    padding-top: .75rem;
    padding-bottom: .25rem;
    margin-bottom: 0;
}

/* www/styles.css */
html body .accordion .my-bg-secondary .accordion-button {
    background-color: var(--bs-body-secondary) !important;
    color: var(--bs-body-color) !important;
}

html body .accordion .my-bg-secondary .accordion-body {
    background-color: var(--bs-body-secondary) !important;
}

.legend {
    z-index: 400 !important;
    /* set a lower z-index */
}