.icon-color {
    color: #002f6C !important;
}

.ReactTable .rt-tr:hover {
    background-color: #4EC3E0 !important;
    color: #ffffff;
}

/* Dropdown Styling */
.bootstrap-select .dropdown-toggle {
    /* Default styles for the pickerInput */
    background-color: #002F6C !important;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

.bootstrap-select .dropdown-toggle:hover {
    /* Styles to apply when hovering over the pickerInput */
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

/* To style specific elements within the pickerInput, like dropdown items */
.dropdown-item:hover {
    background-color: #4EC3E0 !important;
    color: #ffffff;
}


/* Button Styling */
.btn-default {
    background-color: #002F6C !important;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

.btn-default:hover {
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

body {
    font-family: "Raleway", sans-serif;
}